<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarTarget">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarTarget">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs", new { }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <div class="notifications-template">

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script id="notifications-template" type="text/template">
        <ul class=".notifications">
            <%
            _.each(notifications,function(notification)
            {
            if(notification.type==1)
            { %>
            <li>
                <span class="font-weight-bold"> <%= notification.gig.artist.name %> </span>has created the gig in <%= notification.gig.venue %> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm")%>.
            </li>
            <% }
            @*else if(notification.type==2)
                {
                    var changes=[];
                    originalValues=[];
                    newValues=[];

                    if(notification.originalVenue != notification.gig.venue)
                    {
                    changes.push('venue');
                    originalVenue.push(notification.originalVenue);
                    newValues.push(notification.gig.venue);
                    }

                    if(notification.originalDateTime != notification.gig.dateTime)
                    {
                    changes.push('date/time');
                    originalVenue.push(notification.originalDateTime);
                    newValues.push(notification.gig.dateTime);
                    }

                    %>
                    <li>
                        <span class="font-weight-bold"> <%= notification.gig.artist.name %> </span> has changed the <%= changes.join(' and ') %> of the gig from <%= originalValues.join('/') %> to <%= newValues.join('/')%>.
                    </li>


                <% }*@

            }); %>

        </ul>
    </script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                if (notifications.length == 0)
                    return;

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated zoomInDown");

                $(".notifications").popover(
                    {
                        html: true,
                        title: "Notifications",
                        content: function () {
                            var mytemplate = _.template($("#notifications-template").html());

                            return mytemplate({ notifications: notifications })
                        },
                        placement: "bottom"
                    }).on("shown.bs.popover", function () {
                        $.ajax({
                            url: "/api/notifications",
                            method: "PUT"
                        }).done(function () {
                            $(".js-notifications-count")
                                .text("")
                                .addClass("hide");
                        })
                           

                    });
            });

            //This line is used to init popover in every element with data-toggle:popover attribute
            //$('[data-toggle="popover"]').popover();


        });

    </script>
</body>


</html>
